<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/877bbb98b2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'style/cultureInfo.css' %}">
    </head>
    <body>
        {% include 'culture_cloud/navBar.html' %}

        <div class="mainCont">
            <div class="mainContent">
                {% for bannerImg in bannerImgs %}
                    {% if bannerImg == bannerImgs.0 %}
                        <div class="contentCont currentContent">
                            <img src="{{ bannerImg.image_upload.url }}" class="contentItem">
                            <div class="contentInfo">
                                <div class="infoCtrl" onclick="displayContInfo()">
                                    <i class="fas fa-times closeBtn"></i>
                                    <i class="fas fa-info infoBtn"></i>
                                </div>
                                <div class="infoCont">
                                    <h1>{{ bannerImg.image_name }}</h1>
                                    <h2>{{ bannerImg.image_description }}</h2>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="contentCont">
                            <img src="{{ bannerImg.image_upload.url }}" class="contentItem">
                            <div class="contentInfo">
                                <div class="infoCtrl" onclick="displayContInfo()">
                                    <i class="fas fa-times closeBtn"></i>
                                    <i class="fas fa-info infoBtn"></i>
                                </div>
                                <div class="infoCont">
                                    <h1>{{ bannerImg.image_name }}</h1>
                                    <h2>{{ bannerImg.image_description }}</h2>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for bannerVideo in bannerVids %}
                    <div class="contentCont">
                        <video class="contentItem">
                            <source src="{{ bannerVideo.video_upload.url }}" type="video/mp4">
                            Your browser does not support HTML video.
                        </video>
                        <div class="contentInfo">
                            <div class="infoCtrl" onclick="displayContInfo()">
                                <i class="fas fa-times closeBtn"></i>
                                <i class="fas fa-info infoBtn"></i>
                            </div>
                            <div class="infoCont">
                                <h1>{{ bannerVideo.video_name }}</h1>
                                <h2>{{ bannerVideo.video_description }}</h2>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="contentOverlay">
                <div class="carouselCtrl" onclick="carouselControl()">
                    <h1></h1>
                    <i class="fas fa-infinity"></i>
                </div>
                <div class="videoCtrl">
                    <div class="visibilityCtrl">
                        <i class="fas fa-ellipsis-v" id="visibilityOpen" onclick="expandVideoCtrl()"></i>
                        <i class="fas fa-times" id="visibilityClose" onclick="closeVideoCtrl()"></i>
                    </div>
                    <div class="videoCtrlOptions">
                        <div class="audioCtrl">
                            <i class="fas fa-volume-mute" id="muteBtn" onclick="videoItem.unmute()"></i>
                            <i class="fas fa-volume-up" id="unmuteBtn" onclick="videoItem.mute()"></i>
                        </div>
                        <div class="videoPlayCtrl">
                            <i class="fas fa-pause" id="pauseBtn" onclick="videoItem.pause()"></i>
                            <i class="fas fa-play" id="playBtn" onclick="videoItem.resume()"></i>
                        </div>
                        <div class="videoSliderCont">
                            <input type="range" min="0" max="500" value="0" class="videoSlider" oninput="changeVideoTime()">
                        </div>
                        <h1 id="videoTime"></h1>
                    </div>
                </div>
                <div class="cultureInfo">
                    <h1>{{ country.country_name }}</h1>
                    <img src="{{ country.country_flag.url }}">
                </div>
                <i class="fas fa-arrow-circle-left bannerArrow" id="bannerArrow_left" onclick="prevBannerImg()"></i>
                <i class="fas fa-arrow-circle-right bannerArrow" id="bannerArrow_right" onclick="nextBannerImg()"></i>
            </div>
        </div>
        <div class="sectionCont" id="traditionSec" style="height: 1000px;">
            <div class="sectionHeader">
                <div></div>
                <h1>Traditions</h1>
                <div></div>
            </div>
            <div class="traditionCont">
                <div class="traditionSelection">
                    <ul class="traditionList">
                        <li>
                            
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        
        <script src="{% static 'script/cultureInfo.js' %}" async defer></script>
    </body>
</html>