<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Culture Cloud | Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/index.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/877bbb98b2.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% include 'culture_cloud/navBar.html' %}
        
        <div class="mainSearchCont">
            <div class="searchImgItem"></div>
            <div class="searchImgItem"></div>
            <div class="searchImgItem"></div>
            <div class="searchImgItem"></div>
            <form class="mainSearchForm">
                <input class="mainSearchBar">
                <button class="mainSearchBtn"> <i class="fas fa-search"></i></button>
            </form>
        </div>

        <script src="{% static 'script/index.js' %}" async defer></script>
    </body>
</html>