{% load static %}
<link rel="stylesheet" href="{% static 'style/navBar.css' %}">

<div class="pageBackDrop" onclick="clickedBackDrop()"></div>

<div class="navBarCont">

    <div class="logoCont" onclick="window.location.href='/'">
        <h1>Culture Cloud</h1>
    </div>
    <form class="searchCont">
        <button type="submit" class="searchBtn">
            <i class="fas fa-search"></i>
        </button>
        <input type="text" class="searchInput" placeholder="Russian Cusine" required>
    </form>
    <div class="accountCont">
        <div class="guestCont">
            <a href="{% url 'signin' %}">Log In</a>
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>
        <div class="userCont">
            <a onclick="logOutUser()">Sign Out</a>
        </div>
        <script>
            if(localStorage.getItem('user_id') !== null) 
                document.getElementsByClassName('userCont')[0].classList.add('showVisitorCont');
            else
                document.getElementsByClassName('guestCont')[0].classList.add('showVisitorCont');
        </script>
    </div>
</div>

<div class="sideMenu">
    <div class="headerMenuBtn" onclick="showSideMenu()">
        <div class="menuBtn"></div>
    </div>

    
</div>
    

<script src="{% static 'script/navBar.js' %}" async defer></script>