{% load static %}
<link rel="stylesheet" href="{% static 'style/navBar.css' %}">

<div class="pageBackDrop" onclick="clickedBackDrop()"></div>

<div class="navBarCont">

    <div class="logoCont" onclick="window.location.href='/'">
        <h1>Culture Cloud</h1>
    </div>
    <form class="searchCont">
        <button type="submit" class="searchBtn">
            <i class="fas fa-search"></i>
        </button>
        <input type="text" class="searchInput" placeholder="Russian Cusine" required>
    </form>
    <div class="accountCont">
        <div class="guestCont showVisitorCont">
            <a href="#home">Log In</a>
            <a href="#home">Sign Up</a>
        </div>
        <div class="userCont">
            <a href="#home">Sign Out</a>
        </div>
    </div>
</div>

<div class="sideMenu">
    <div class="headerMenuBtn" onclick="showSideMenu()">
        <div class="menuBtn"></div>
    </div>

    
</div>
    

<script src="{% static 'script/navBar.js' %}" async defer></script>