<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/signin.css' %}">
    </head>
    <body>
        <form method="POST" action="/signin" id="signinForm">
            {% csrf_token %}
            <h1 id="logo">Culture Cloud</h1>
            <h1 id="signinText">Sign In</h1>

            <div class="inputContainer">
                <h1>Invalid: <span></span></h1>
                <label for="userNameInput">Username:</label>
                <input type="text" name="userNameInput" onfocus="highlightCont(this)" onblur="defaultCont(this)" required>
            </div>
            <div class="inputContainer">
                <h1>Invalid: <span></span></h1>
                <label for="passwordInput">Password:</label>
                <input type="password" name="passwordInput" onfocus="highlightCont(this)" onblur="defaultCont(this)" required>
            </div>
            <button type="submit">Create User</button>
            <h1 id="signInCont">Not Registered? <span onclick="window.location.href=`{% url 'signup' %}`">Sign Up</span></h1>
        </form>
        
        <script src="{% static 'script/signin.js' %}" async defer></script>
    </body>
</html> 